.view{
    border:2px solid black;
    width:1250px;
    height:780px;
    margin-top:40px;
    margin-left:60px;
    margin-right:20px;
    margin-bottom: 20px
}

.row{
    /* padding-top: 10px; */
    margin-top:27px;
    margin-left:58px;
    width:1140px;
    height:157px;
    border:2px solid black;
    
}

/* .update{
    border:2px solid black;
    width:1250px;
    height:785px;
    margin-top:40px;
    margin-left:60px;
    margin-right:20px;
    margin-bottom: 20px
} */

/* .profile{
    float:left;
    border:2px solid black;
    margin-top:19px;
    margin-left: 300px;
    width:250px;
    height:120px;   
} */

.personCount input{
    width:30px;
    margin-left:180px;
    margin-top:50px;
}

.personCount{
    float:left;
    /* border:2px solid black; */
    width:400px;
    height:20px;
    margin-top:23px;
    margin-left: 40px;
    height:120px;
}
.timings{
    /* border:2px solid black; */
    float:left;
    margin-left:45px;
    margin-top:55px;
    
}